body {
  margin: 0;
  text-align: center;
  font-family: 'Lexend Exa', sans-serif;
  color: #40514e;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 50px auto;
  font-family: 'Lobster', cursive;
  color: #66bfbf;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #11999e;
}

.btn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 8px;
  font-family: Lato;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a {
  color: #119993;
  font-size: 0.625rem;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;

}

.p {
    line-height: 1.5;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px
}

.middle-container {
  background-color: #ffffff;
  margin: 100px 0;
}

.profile-pic {
  width: 20%;
  border-radius: 50%;
}

.therapy-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.guitar-pic {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 1.5;
  text-align: left;
}

hr {
  border: 6px dotted #eaf6f6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bottom-container {
  background-color: #68bfbf;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #eaf6f6;
  font-size: 10px;
}

.contact-me {
  margin-bottom: 70px;
}
